<app-nav></app-nav>
<div class="footer">
  <div class="part">
    <h3><u>Address</u></h3>
    <div class="content">
      15/B New Market,<br />
      Dhaka-1205,<br />
      Bangladesh
    </div>
  </div>
  <div class="part">
    <h3><u>Contact With Us</u></h3>
    <div class="content">
      <mat-icon style="margin-right:15px">phone</mat-icon> +8801470000000, +985874587
    </div>
    <div>
      <a class="content" href="mailto:rdtelecom@gmail.com"><mat-icon style="margin-right:15px">email</mat-icon> rdtelecom@yahoo.com</a>
    </div>
  </div>

  <div class="part">
    <h3><u>Contact With Our Social Site</u></h3>
    <div>
      <a class="content" href="https://www.facebook.com/"><mat-icon style="margin-right:15px">facebook</mat-icon> facebook.com</a>
    </div>
    <div>
      <a class="content" href="https://www.duo.com/"><mat-icon style="margin-right:15px">duo</mat-icon> duo.com</a>
    </div>
    <div>
      <a class="content" href="https://www.telegram.com/"><mat-icon style="margin-right:15px">telegram</mat-icon> telegram.com</a>
    </div>
    <div>
      <a class="content" href="https://www.whatsapp.com/"><mat-icon style="margin-right:15px">whatsapp</mat-icon> whatsapp.com</a>
    </div>
    <div>
      <a class="content" href="https://www.wechat.com/"><mat-icon style="margin-right:15px">wechat</mat-icon> wechat.com</a>
    </div>
  </div>
  <div class="part">
    
  </div>
</div>
