<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      
      [opened]="false">
    <mat-toolbar class="menuHead"><mat-icon style="margin-right:15px">compost</mat-icon>RD Telecom Ltd.</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['home']" class="navLink"><mat-icon class="gap">home</mat-icon>Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['view']" class="navLink"><mat-icon class="gap">pix</mat-icon> Brands</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['view-mobile']" class="navLink"><mat-icon class="gap">phone_iphone</mat-icon> Mobiles</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:rgb(218 236 250)">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-left:30px;" class="font-head">Online Mobile Shop</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="view">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
